.nav {
    background-color: #fff;
}

.nav ul {
    margin: 0;
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
}

.nav ul li {
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

ul li:hover {
    opacity: 0.5;
    transform: scale(1.1);
}