<div class="todolist">
    <h3>List of Works Todo:</h3>
    <p class="error-info"></p>
    <ul *ngFor="let todo of list" data-id={{todo.id}}>
        <li [ngClass]="{'completed': todo.completed}">
            <p>{{todo.title}}</p>
            <div class="tools">
                <button class="complete" [disabled]="completedTodo" (click)="onComplete(todo)"><i
                        class="fas fa-check"></i></button>
                <button class="edit">EDIT</button>
                <button class="delete" (click)="onDelete(todo.id)"><i class="fas fa-times"></i></button>
            </div>
        </li>
    </ul>
</div>