* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    display: flex;
    gap: 2em;
}

.card {
    width: 7em;
    flex: 0 0 auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    transition: width 0.4s ease-in-out;
}

.card img {
    height: 100%;
    display: block;
    width: auto;
}

.card.active {
    width: 35em;
}