body {
    text-align: center;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: lightslategray;
}

.input-data {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input-data input {
    padding: 10px;
    width: 100%;
    border-radius: 15px;
    border: none;
    outline: none;
}

.input-data button {
    cursor: pointer;
    padding: 10px 25px;
    border-radius: 15px;
    border: none;
    overflow: none;
    outline: none;
    transition: all .3s ease;
}

.input-data button:hover {
    color: #fff;
    background-color: #000;
}

.all-todos {
    margin: 20px;

}

.all-todos ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.single-todo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: 1px solid #fff;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 15px;
}

.single-todo button {
    cursor: pointer;
    border: 1px solid red;
    background-color: red;
    padding: 10px;
    border-radius: 50px;
}