@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #223969;
    width: 90%;
    padding: 1em;
}

header {
    text-align: center;
    color: #fff;
}


header h1 {
    font-family: Poppins, serif;
}

main {
    color: #fff;
    margin-left: 5em;
    line-height: 1.5;
    font-size: 18px;
}

main h1 {
    color: #55a867;
}